<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>photo-go-round_ pnew/DavidEpps.GA</title>
  </head>
  <body>
  <header>
  	<h1>Post a Photo</h1>
  	<ul>
  		<li><a href="/">Home</a></li>
  		<li><a href="/photos">Photos Index</a></li>
  	</ul>
  </header>
  <main>
  	<form action="/articles" method="POST">
  		<input type="text" name="title">
  		<button type="submit">SUBMIT</button>
  	</form>
  </main>
  </body>
</html>