<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>photo-go-round_ pshow/DavidEpps.GA</title>
  </head>
  <body>
  <header>
  		<h1>Show Page for <%=photos.title%></h1>
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/photos">Photos Index</a></li>
  			</ul>
  		</nav>
  	</header>
  </body>
</html>