<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>photo-go-round_ ushow/DavidEpps.GA</title>
  </head>
  <body>
  <header>
  		<h1>Show Page for <%=users.title%></h1>
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/users">Users Index</a></li>
  			</ul>
  		</nav>
  	</header>
  </body>
</html>